<app-card titulo="Primeiro Componente" cor="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo="Apronfundando o conhecimento em Templates" cor="#B2E7E8">
    <app-segundo-componente></app-segundo-componente>
</app-card>

<app-card titulo="Pipes" cor="#BFB9AA">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="Two-way data bingding" cor="#B2E7E8">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card titulo="Renderizando uma lista de dados" cor="#3D4D63">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="">
    <app-componente-personalizado nome="João" sobrenome="da Silva"></app-componente-personalizado>
    <app-componente-personalizado nome="J" sobrenome="Mendes"></app-componente-personalizado>
</app-card>

<app-card>
    <app-componente-pai></app-componente-pai>
</app-card>

<app-card>
    <app-exemplo-servicos1></app-exemplo-servicos1>
</app-card>

<app-card>
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>

<app-card>
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>